:root {
    --primario: #f8edeb;
    --primario_obscuro: #fae1dd;
    --secundario: #e8e8e4;
    --secundario_obscuro: #d8e2dc;
    --ligth: #fff;
    --obscuro: #10002b;

    --font1: font-family: 'Quicksand', sans-serif;

}