:root {
  --primario: #f8edeb;
  --primario_obscuro: #fae1dd;
  --secundario: #e8e8e4;
  --secundario_obscuro: #d8e2dc;
  --ligth: #fff;
  --otro: #10002b;
  --fluor1: #cfff00;
  --fluor2: #fc00ff;
  --fluor3: #ffc0be;
  --obscuro: #11003f;
      
  --font1: font-family: 'Quicksand', sans-serif;

}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem = a 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*globales*/

body {
  background-color: var(--otro);
  font-size: 2rem;
  line-height: 1.5; /*interlineado*/
}

p {
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--fluor3);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.contenedor {
  max-width: 120rem; /*ancho maximo*/
  margin: 0 auto; /*centrar de forma facil el contenido*/
}

h1, h2, h3 {
  text-align: center;
  color: var(--fluor3);
  font-family: var(--font1);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem ;
}

h3 {
  font-size: 2.4rem;
}

/*header*/

.header {
  display: flex;
  justify-content: center; /*centra horizontalmente cuando el display es display flex*/
}

.header__logo {
  margin: 3rem 0;
}

/*navegación*/

.navegacion {
  -webkit-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  -moz-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  background-color: var(--obscuro);
  padding: .5rem 0;
  display: flex;
  justify-content: center;
  gap: 7rem;
}

.navegacion__enlace {
  font-family: var(--font1);
  color: var(--ligth);
  font-size: 2rem;
  font-weight: 700;

}

.navegacion__enlace--activo, 
.navegacion__enlace:hover {
  color: var(--fluor1);
}

/*footer*/

.footer {
  background-color: var(--obscuro);
  padding: 2rem 0;
  margin-top: 2rem;

}

.footer__texto{
  font-family: var(--font1);
  text-align: center;
  font-size: 1.2rem;
}

/*grid*/

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
    
}

/*productos*/

.producto {
  background-color: var(--obscuro);
  padding: 1rem;
  -webkit-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  -moz-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
}

.producto__nombre{
  font-size: 3rem;
  color: var(--ligth);
}

.producto__precio {
  font-size: 2rem;
  color: var(--fluor1);
}

.producto__nombre,
.producto__precio {
  font-family: var(--font1);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;/*interlineado*/
}

/**graficos*/

.grafico {
  -webkit-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  -moz-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  min-height: 30rem;
  background-repeat: no-repeat; /*permite que no se repita la imagen*/
  background-size: cover; /*hace que la imagen tome todo el epacio deisponible*/
  grid-column: 1 / 3; /*se quita de --camisas y --node ya que se repite y se asigna en el grafico ya que comparten la misma clase*/

}

.grafico--camisas {
  grid-row: 2 / 3 ; /*define la fila*/
  /*grid-column: 1 / 3; define la columna*/
  background-image: url(../img/grafico1.jpg); /*imagen que va a ocupar esa posicion en el grid*/

}

.grafico--node {
  background-image: url(../img/grafico2.jpg);
  /*grid-column: 1 / 3*/;
  grid-row: 8 / 9;

}

@media (min-width: 768px) {
  .grafico--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  
  }
    
}

/*nosotros*/

.nosotros {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 2rem;
}

@media (min-width: 768px) {
  .nosotros {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

}

.nosotros--imagen {
  grid-row: 1 / 2;
  min-height: 30rem;
  background-image: url(../img/nosotros.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  
}

@media (min-width: 768px) {
  .nosotros--imagen {
  grid-column: 2 / 3;
  }
    
}

/*bloques*/

.bloques {
  display: grid; /*columnas para vista inferior a 768px*/
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .bloques {
    grid-template-columns: repeat(4, 1fr);
  }
    
} /*media query para visualizacion en pantallas superiores a 768px*/

.bloque {
  text-align: center; /*cenra el contenido de la clase bloque*/
}


.bloque__titulo {
  margin: 0;
}

/*vista*/

@media (min-width: 768px) {
  .camisa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.camisa__contenido {

}

/*Formulrio*/

.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.formulario__campo {
  border: 1rem solid var(--obscuro); /*se coloca en una sola linea de codigo el ancho el tipo solido y el color para evitar colocar 3 lineas de codigo*/
  background-color: var(--otro);
  color: var(--primario_obscuro);
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  appearance: none;
}

.formulario__submit {
  background-color: var(--obscuro); /*color del boton*/
  border: none; /*elimina el borde del boton*/
  font-size: 2rem; /*tamaño texto boton*/
  font-family: var(--font1); /*fuente del boton*/
  color: var(--secundario);
  padding: 1.5rem;
  -webkit-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  -moz-box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  box-shadow: 1px 1px 33px -6px rgba(252,0,255,0.7);
  grid-column: 1 / 3;/*como la clase formulario ya tiene display grid posiciona le boton para que tome el espacio de las dos columnas*/
  transition: background-color .3s ease; /*transicion del color de fondo del boton*/
}

.formulario__submit:hover {
  cursor: pointer; /*para que se vea la mano al poner el cursor sobre el boton*/
  background-color: var(--fluor2); /*cambia el color de fondo del boton al pasar el cursor por encima*/
  color: var(--ligth); /*cambia el color del texto del boton al pasar el cursor por encima*/
  -webkit-box-shadow: 0px 1px 10px 1px rgba(207,255,0,1);
  -moz-box-shadow: 0px 1px 10px 1px rgba(207,255,0,1);
  box-shadow: 0px 1px 10px 1px rgba(207,255,0,1);

}